.page {
	max-width: 1280px;
	min-width: 320px;
	width: 100%;
	margin: 0 auto;
	font-family: 'Inter', Arial, sans-serif;
	color: #FFFFFF;
	background-color: #000000;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	-webkit-text-size-adjust: 100%;
	-ms-text-size-adjust: 100%;
	-moz-text-size-adjust: 100%;
}


/*1280px 1024px 768px 320px*/

/* @media screen and (min-width: 1024px) and (max-width: 1279px) {}

@media screen and (min-width: 768px) and (max-width: 1023px) {}

@media screen and (min-width: 320px) and (max-width: 767px) {} */

/*сбросить стили кнопки
border: none; 
background-color: transparent; 
margin: 0; 
padding: 0; 

background-repeat: no-repeat; 
background-size: contain; 

*/ 

/*header*/

.header {
max-width: 880px; 
margin: 0 auto;
padding-top: 45px;
padding-bottom: 40px; 
border-bottom: 1px solid rgba(54, 54, 54, .7);
}

@media screen and (min-width: 320px) and (max-width: 767px) {
    .header {
        padding-top: 28px;
        padding-bottom: 42px; 
    }
}

.header__logo {
background-size: cover;
width: 142px;
height: 33px;
}

@media screen and (min-width: 320px) and (max-width: 767px) {
    .header__logo {
        width: 103.74px;
        height: 24.4px;
        margin-left: 27px;
    }
}


/*main*/
.main {
    max-width: 882px;
    margin: 0 auto;
    padding: 0;
}

@media screen and (min-width: 320px) and (max-width: 767px) {
    .main {
        max-width: 282px;
    }
} 
/*profile*/

.profile {
margin: 0 auto; 
padding-top: 40px;
display: flex; 
justify-content: flex-start;
max-width: 882px;
position: relative; 
flex-wrap: wrap;
}

@media screen and (min-width: 320px) and (max-width: 767px) {
    .profile {
        flex-direction: column; 
        align-items: center;
    }
} 
.profile__avatar {
position: relative; 
width: 120px;
height: 120px;
border-radius: 50%;
-webkit-border-radius: 50%;
-moz-border-radius: 50%;
object-fit: cover;
padding: 0;
margin: 0;
margin-right: 30px;
}

@media screen and (min-width: 320px) and (max-width: 767px) {
    .profile__avatar {
        margin-bottom: 26px;
        margin-right: 0;
    }
} 

.profile__info {
margin-right: auto;
max-width: 336px;
display: flex;
max-width: 336px;
flex-direction: column; 
}

@media screen and (min-width: 320px) and (max-width: 767px) {
    .profile__info {
        margin-bottom: 36px;
        margin-right: 0;
        text-align: center; 
        max-width: 282px;
        justify-content: center;

    }
} 

.profile__container {
    display: flex;
    flex-direction: row;
    min-width: 336px;
}

@media screen and (min-width: 320px) and (max-width: 767px) {
    .profile__container {
        display: flex;
    flex-direction: row;
    min-width: 282px;
    justify-content: center;
    }
}

.profile__title {
    font-family: 'Inter', Arial, sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 42px;
    line-height: 48px;

    margin-bottom: 0;
}

@media screen and (min-width: 320px) and (max-width: 767px) {
    .profile__title{
font-style: normal;
font-weight: 500;
font-size: 27px;
line-height: 33px;
margin-bottom: 0;
    }
}

.profile__subtitle {
    font-family: 'Inter', Arial, sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 22px;

}


@media screen and (min-width: 320px) and (max-width: 767px) {
.profile__subtitle {
font-style: normal;
font-weight: 400;
font-size: 14px;
line-height: 17px;
}
}

.profile__edit-button {
width: 26px;
height: 24px;
background-image: url(./images/EditButton.svg);
background-size: contain;
background-color: transparent; 
background-repeat: no-repeat;
border: none;
display: inline-block;
outline: none; 
transition: .2s;
padding: 0; 
}

.profile__edit-button:hover {
cursor: pointer;
opacity: .6;
}

@media screen and (min-width: 320px) and (max-width: 767px) {
    .profile__edit-button {
        width: 18px;
        height: 18px;
    }
}
.profile__add-button {
width: 150px;
height: 50px;
background-image: url(./images/plus.svg);
background-color: transparent; 
border: 2px solid #ffffff;
border-radius: 2px;
background-position: center; 
background-repeat: no-repeat; 
outline: none; 
transition: .2s;
color: #ffffff;
}

.profile__add-button:hover {
    cursor: pointer;
    opacity: .6;
}

@media screen and (min-width: 320px) and (max-width: 767px) {
    .profile__add-button {
        min-width: 100%;
    }
} 

/*elements*/

.elements {
margin: 0 auto; 
max-width: 880px; 
padding-bottom: 52px;
}

@media screen and (min-width: 320px) and (max-width: 767px) {
    .elements {
        max-width: 282px;
        padding-bottom: 48px;
    } 
} 
.elements__grid {
    list-style: none;   
display: grid;
	grid-template-columns: repeat(auto-fit, 282px);
	grid-row-gap: 20px;
    grid-column-gap: 17px;
padding: 0; 
padding-top: 50px;
margin: 0;
}

.element {
    position: relative; 
border-radius: 10px;
    background-color: #ffffff;
    padding: 0;
    margin: 0;
    max-width: 282px; 
}


.element__description {
    display: flex; 
    min-height: 78px; 
    align-items: center; 
    justify-content: space-between; 
    box-sizing: border-box; 
    padding: 0 22px; 
}
.element__image {
width: 100%;
max-height: 282px;
object-fit: cover; 
object-position: center 0;
border-radius: 10px 10px 0 0;
padding: 0; 
margin: 0; 
}

.element__title {
    font-family: 'Inter', Arial, sans-serif;
    font-style: normal;
    font-weight: 900;
    font-size: 24px;
    line-height: 29px;
    color: #000000;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
}

.element__like {
background: none; 
box-shadow: none; 
border: none; 
outline: none; 
padding: 0; 
margin: 0; 
background-image: url(./images/like_disabled.svg);
background-repeat: no-repeat; 
background-position: center; 
width: 22px; 
height: 19px; 
}

.element__like:hover {
    background-image: url(./images/like_hover.svg);
    cursor: pointer; 
}

.element__like:active {
    background-image: url(./images/like_active.svg);
 
}

/*footer*/

.footer {
padding-bottom: 60px;
margin: 0 auto; 
max-width: 880px;
}


@media screen and (min-width: 320px) and (max-width: 767px) {
    .footer {
         max-width: 282px;
         padding-bottom: 36px;
    }
}

.footer__copyright {
font-family: 'Inter', Arial, sans-serif;
margin: 0;
color: #545454;
font-style: normal;
font-weight: 400;
font-size: 18px;
line-height: 22px;
text-align: left;
}

@media screen and (min-width: 320px) and (max-width: 767px) {
    .footer__copyright {
        font-family: Inter;
        font-size: 14px;
        font-style: normal;
        font-weight: 400;
        line-height: 17px;
        letter-spacing: 0em;
        text-align: left;
    }
 }


/*popup*/

.popup {
    display: none; 
    position: fixed;
    top: 0; 
    right: 0; 
    bottom: 0; 
    left: 0;
    background-color: rgba(0, 0, 0, 0.5);
    align-items: center; 
    justify-content: center;
    z-index: 2; 
}

.popup_opened {
    display: flex;
}

.popup__container {
    background: #ffffff;
    max-width: 430px; 
    width: 100%;
    min-height: 330px; 
    border-radius: 15px; 
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    position: relative;
}

@media screen and (min-width: 320px) and (max-width: 767px) {
    .popup__container {
        max-width: 282px;
        min-height: 322px; 
    }
}

.popup__heading {
    font-family: 'Inter', Arial, sans-serif;
    font-style: normal;
    font-weight: 900;
    font-size: 24px;
    line-height: 29px;
    color: #000000;
    padding-left: 36px; 
    padding-top: 34px; 
    margin: 0 auto; 
}

@media screen and (min-width: 320px) and (max-width: 767px) {
    .popup__heading {
        font-size: 18px;
        line-height: 22px;  
        padding-left: 22px; 
    padding-top: 25px; 
    }
}


.popup__title {
    font-family: 'Inter', Arial, sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 17px;
    color: #000000;
    padding-left: 36px; 
    padding-top: 54px; 
    margin: 0 auto; 
}

@media screen and (min-width: 320px) and (max-width: 767px) {
    .popup__title {
        padding-left: 22px; 
    padding-top: 75px; 
    }
}
.popup__subtitle {
    font-family: 'Inter', Arial, sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 17px;
    color: #000000;
    padding-left: 36px; 
    padding-top: 30px; 
    margin: 0 auto; 
}

@media screen and (min-width: 320px) and (max-width: 767px) {
    .popup__subtitle {
        padding-top: 30px; 
        padding-left: 22px; 
    }
}
.popup__save {
    font-family: 'Inter', Arial, sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 22px;
    text-align: center;
    color: #FFFFFF;
max-height: 50px;
background-color: #000000;
cursor: pointer;
margin: 0 auto;
margin-top: 56px;
margin-bottom: 29px;
width: 100%;
        min-height: 50px; 
}

@media screen and (min-width: 320px) and (max-width: 767px) {
    .popup__save {
        font-size: 14px;
    line-height: 17px;
    margin-top: 45px;
    margin-bottom: 25px;
        min-height: 46px; 

    }
}

.popup__save:focus {
    outline-color: rgba(0, 0, 0, 1);
}

.popup__close {
    width: 32px; 
    height: 32px; 
    background-image: url(./images/CloseIcon.svg);
position: absolute; 
cursor: pointer; 
border: none; 
background-color: transparent; 
margin: 0; 
padding: 0; 
top: -40px; 
right: -40px; 
background-repeat: no-repeat; 
background-size: contain; 
}

@media screen and (min-width: 320px) and (max-width: 767px) {
    .popup__close {
        width: 20px; 
        height: 20px;  
        top: -45px;
right: 0px;
}
}

.popup__input {
border: none; 
border-bottom: 1px solid rgba(0, 0, 0, 0.5);
font-family: 'Inter', Arial, sans-serif;
font-style: normal;
font-weight: 400;
font-size: 14px;
line-height: 17px;
color: #000000;
padding: 5px 6px 13px;
box-sizing: border-box; 
width: 100%;
height: 27px;
}

.popup__input:last-of-type{
    margin-bottom: 0;
}

@media screen and (min-width: 320px) and (max-width: 767px) {
    .popup__input {
       margin-bottom: 0;
    }
}



.popup__input_name {

}

.popup__input_description {

}

.popup__form {
    margin: 0 auto; 
    margin-top: 54px;
    display: flex; 
    flex-direction: column; 
    border: none; 
    padding: 0;
    max-width: 358px;
    height: 27px;
}

@media screen and (min-width: 320px) and (max-width: 767px) {
    .popup__form {
        margin-top: 75px;
        max-width: 238px;
    }
}

.popup__input_description {
margin-top: 30px; 
}

.popup__field {

}